:root .theme_dark {
  --main-color: #000028;
  --accent-color: #ff0070;
  --main-font-color: #f1b2ce;
  --main-logo-color: #db00ff;
  --decor-title-color: #ff0070;
  --title-color: #000028;
  --article-header-color: #ff0070;
  --decorated-color: #ff0070;
  --button-color: #ff0070;
  --button-color-hover: rgb(255 0 112 / 0.4);
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .dark-theme-decor {
  line-height: 25px;
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
  position: absolute;
  inset-block-start: var(--main-padding);
  inset-inline-end: calc(var(--main-padding) + 4px);
  color: var(--button-color);
}

.dark-theme-decor::after {
  width: 21px;
  height: 21px;
  display: inline-block;
  content: '';
  background-image: url(../images/ellipse.png);
}

@media (prefers-color-scheme: dark) {

  :root {
    --main-color: #000028;
    --accent-color: #ff0070;
    --main-font-color: #f1b2ce;
    --main-logo-color: #db00ff;
    --decor-title-color: #ff0070;
    --title-color: #000028;
    --article-header-color: #ff0070;
    --decorated-color: #ff0070;
    --button-color: #ff0070;
    --button-color-hover: rgb(255 0 112 / 0.4);
  }

  .page {
    background-image: url(../images/cover-image-dark.png);
  }

  .dark-theme-decor {
    line-height: 25px;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    position: absolute;
    inset-block-start: var(--main-padding);
    inset-inline-end: calc(var(--main-padding) + 4px);
    color: var(--button-color);
  }

  .dark-theme-decor::after {
    width: 21px;
    height: 21px;
    display: inline-block;
    content: '';
    background-image: url(../images/ellipse.png);
  }
}
