:root .theme_light {
  --main-color: #fff1f7;
  --accent-color: #ff0070;
  --main-font-color: #353430;
  --main-logo-color: #ffc2e6;
  --decor-title-color: #ff8dcb;
  --title-color: #353430;
  --decorated-color: #353430;
  --button-color: #353430;
  --button-color-hover: rgb(50 49 45 / 0.4);
}

@media (width < 768px) {

  :root .theme_light {
    --accent-color: #ff8dcb;
  }
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .dark-theme-decor {
  display: none;
}

@media (prefers-color-scheme: light) {

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .dark-theme-decor {
    display: none;
  }
}
