/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: start;
  font-size: 1.125rem;;
  margin: 0 auto;
  max-inline-size: 64rem;
  min-block-size: 48rem;
}

.decorated-zone {
  background-image: url(../images/cover-image-light.png);
  background-size: cover;
  background-position: center;
}

.header::before {
  position: absolute;
  content: '';
  display: block;
  inset-inline-end: var(--header-padding);
  inset-block-start: var(--header-padding);
  block-size: 25px;
  border-inline-end: 1px solid var(--main-font-color);
  border-block-start: 1px solid var(--main-font-color);
  inline-size: 25px;
}

.header::after {
  position: absolute;
  content: '';
  display: block;
  inset-inline-start: var(--header-padding);
  inset-block-end: var(--header-padding);
  block-size: 25px;
  border-inline-start: 1px solid var(--main-font-color);
  border-block-end: 1px solid var(--main-font-color);
  inline-size: 25px;
}

.header__theme-menu {
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  text-transform: lowercase;
  justify-self: center;
  margin-block-start: var(--header-padding);
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--main-font-color);
}

.header__logo {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: #ffc2e6;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: bold;
  line-height: 82.5%;
}

.header__title {
  width: max(50% - var(--header-padding), 375px - 2 * var(--header-padding));
  margin-inline-end: var(--header-padding);
  margin-block-end: var(--header-padding);
  justify-self: end;
  align-self: center;
  color: var(--main-font-color);
  font-family: 'IBM Plex Mono', sans-serif;
  background-color: #ff8dcb;
  font-weight: 700;
  line-height: 23.4px;
}

@media (width <= 768px) {

  :root {
    --accent-color: #ff8dcb;
    --header-padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  }

  .header {
    min-block-size: clamp(41.75rem, 20.5191rem + 90.5852vw, 64rem);
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__title {
    margin-inline-start: var(--header-padding);
  }
  
  .header__theme-menu {
    justify-self: end;
    align-self: center;
    margin-inline-end: var(--header-padding);
  }

  .header__logo {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-inline-start: calc(0.625rem - clamp(0rem, -0.5964rem + 2.5445vw, 0.625rem));
  }
}
